@page "/login"
@inject IAuthService AuthService

<h3>Login</h3>

<EditForm Model="loginRequest" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <CustomInputText Label="Name"
                     Id="name"
                     @bind-Value="loginRequest.UserName"
                     ValidationFor="() => loginRequest.UserName" />
    <CustomInputText Label="Password"
                     Id="password"
                     @bind-Value="loginRequest.Password"
                     ValidationFor="() => loginRequest.Password"
                     Type="password" />
    <button type="submit" class="block rounded-md bg-teal-600 px-5 py-2.5 font-medium text-white transition hover:bg-teal-700 mt-2">Login</button>
</EditForm>

@if(loginFailed)
{
    <div>
        <span class="text-xs text-red-600 font-bold my-1">@errorMessage</span>
    </div>
}

@code {
    LoginRequest loginRequest = new LoginRequest();
    bool loginFailed = false;
    string errorMessage = string.Empty;

    async Task HandleSubmit()
    {
        loginFailed = false;
        var response = await AuthService.Login(loginRequest);
        if (!response.IsSuccessful && response.Error != null)
        {
            errorMessage = response.Error;
            loginFailed = true;
        }
        else if (!response.IsSuccessful)
        {
            errorMessage = "Login Failed";
            loginFailed = true;
        }
    }
}
