@page "/login"
@inject IAuthService AuthService

<h3>Login</h3>

<EditForm Model="loginRequest" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <CustomInputText Label="Name"
                     Id="name"
                     @bind-Value="loginRequest.UserName"
                     ValidationFor="() => loginRequest.UserName" />
    <CustomInputText Label="Password"
                     Id="password"
                     @bind-Value="loginRequest.Password"
                     ValidationFor="() => loginRequest.Password"
                     Type="password" />
    <button type="submit" class="block rounded-md bg-teal-600 px-5 py-2.5 font-medium text-white transition hover:bg-teal-700 mt-2">Login</button>
</EditForm>

@code {
    LoginRequest loginRequest = new LoginRequest();

    async Task HandleSubmit()
    {
        await AuthService.Login(loginRequest);
    }
}
